{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
  <h2 class="my-4">Demo realizado por Berly Walter Torres Salas</h2>
  <p>Front end: Bootstrap v4.3.1 (<a href="https://getbootstrap.com/" target="_blank">https://getbootstrap.com/</a>)</p>
  <p>Administración de usuarios: FOSUserBundle ^2.1(<a href="https://github.com/FriendsOfSymfony/FOSUserBundle" target="_blank">https://github.com/FriendsOfSymfony/FOSUserBundle</a>)</p>
  <p>Generación de tablas: Doctrine (<a href="https://symfony.com/doc/3.4/doctrine.html" target="_blank">https://symfony.com/doc/3.4/doctrine.html</a>)</p>
</div>
{% endblock %}
