{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block fos_user_content %}
<div class="container">
    <h2>¡Registro exitoso!</h2>
    <p>Te registraste con el usuario: <strong>{{ user.username }}</strong></p>


    <p><a href="{{ path('contactos_index') }}">Ir al listado de contactos</a></p>

</div>
{% endblock fos_user_content %}
